<h1>Sign Up</h1>
<p>
<form method="post">
    <p>{{ErrorMessage}}</p>
    <p>학번 : <input name="id"></input></p>
    <p>Password : <input name="password"></input></p>
    <p>name : <input name="name"></input></p>
    <p>Phone : <input name="phone"></input></p>
    <button type="submit">Sign Up</button>
</form>
</p>