<form method="post">
    <p>{{ErrorMessage}}</p>

    <input type="radio" name="drake" value="1">바람용
    <input type="radio" name="drake" value="2">대지용
    <input type="radio" name="drake" value="3">화염용
    <input type="radio" name="drake" value="4">바다용

    <button type="submit">Button</button>
</form>